body {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* Define nokia color palette. */
	--nokia-body-bg: rgb(77, 84, 94);
	--nokia-body-btn: rgb(202, 203, 197);
	--nokia-screen-dark: #43523d;
	--nokia-screen-light: #c7f0d8;
	background-color: var(--nokia-body-btn);
}

.nokia-body {
	/* Align items to the center. */
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px dotted var(--nokia-body-btn);
	background-color: var(--nokia-body-bg);
	/* Body shape */
	border-bottom-left-radius: 20px 49%;
	border-bottom-right-radius: 20px 49%;
	border-top-left-radius: 20px 20%;
	border-top-right-radius: 20px 20%;
}

.nokia-speaker {
	height: 30px;
}

.nokia-screen {
	margin: 25px 10px;
	border: 4px solid var(--nokia-body-btn);
	border-radius: 4px;
	background-color: var(--nokia-screen-light);
}

.nokia-screen>canvas {
	display: block;
	image-rendering: pixelated;
	/*Ensure nearest neighbor filtering*/
}

.game-controls--container {
	/* Separate from other elements by a margin. */
	margin: 20px;
	/* Total width of controls box. */
	width: 150px;
	/* Display using grid method. */
	display: grid;
	/* Gap between rows and columns. */
	column-gap: 5px;
	row-gap: 5px;
}

.game-controls--button {
	background-color: var(--nokia-body-btn);
	border-radius: 14px;
	/* Disable selecting text in button */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
